<form role="form">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" placeholder="Enter title" ng-model="newBook.title" required>
  </div>
  <div class="form-group">
    <label for="author">Author</label>
    <input type="text" class="form-control" id="author" placeholder="Enter author" ng-model="newBook.author" required>
  </div>
  <div class="form-group">
    <label for="category">Category</label>
    <input type="text" class="form-control" id="author" placeholder="Enter category" ng-model="newBook.category" required>
  </div>
  <div class="form-group">
    <label for="isbn">ISBN</label>
    <input type="text" class="form-control" id="isbn" placeholder="Enter ISBN" ng-model="newBook.isbn" required>
  </div>
  <button type="submit" class="btn btn-success" ng-click="addBook()">Save</button> <!-- add or modify book -->
  <button type="button" class="btn btn-default" ng-click="goBack()">Cancel</button>
</form>