<h1> Library contents </h1>

<table class="table table-hover">
  <thead>
  	<tr>
  		<th>Title</th>
  		<th>Authors</th>
  		<th>Category</th>
  		<th>ISBN</th>
  		<th>Select</th>
  	</tr>
  </thead>
  <tbody>  
	  <tr ng-repeat="book in bookList">
	  	<td><a href="" ng-click="selectBook(book.isbn)">{{book.title}}</a></td>
	  	<td author-display></td>
	  	<td>{{book.category}}</td>
	  	<td>{{book.isbn}}</td>
	  	<td><input type="radio"  name="deleteBook" ng-model="$parent.selectedBook" value="{{book.isbn}}"/></td>
	  </tr>
  </tbody>
  
</table>

<button type="button" class="btn btn-primary" ng-click="showAddForm()">Add</button>
<button type="button" class="btn btn-danger" ng-click="deleteBook()" data-ng-disabled="!selectedBook">Delete</button>